@use "../../../assets/scss/colors" as colors;

.small {
  height: 100vh;
  width: 6vw;
  background-color: #fff;
  color: colors.$light;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

li {
  list-style-type: none;
  color: colors.$light;

  &:last-of-type {
    margin-top: 200px;
  }
}

img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}
