@use "../../../assets/scss/colors" as colors;

.big {
  height: 100vh;
  width: 16vw;
  background-color: #8000ff;
  color: #141313;
  margin-right: 50px;
  position: relative;
  //transition: all .35s ease-out;
}

button {
  background-color: unset;
  border: none;
  color: colors.$snow;
  position: absolute;
  top: 25px;
  right: 0;
}
